<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <style>
    body { background-color: orange } nav { background-color: purple; color:
    white; padding 30px 60px; display: flex; justify-content: space-between} nav
    ul { display: flex; justify-content: space-around; align-items: center;} nav
    li {list-style: none} nav li a{color: white; text-decoration: none; font:
    bold; padding: 5px 8px} nav li a:hover { color: yellow; text-decoration:
    none}
  </style>
  <body>
    <nav>
      <h4>Alan Turing Game</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
    <div class="container mt-4">
      <div class="card">
        <div class="card-header">
          Register Form
        </div>
        <div class="card-body">
          <form action="/auth/login" method="POST">

            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
      {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
      {{/if}}
    </div>
  </body>
</html>