body { 
    background-color: orange
}

nav {
    
    background-color: purple; color:
    white; padding: 30px 60px; display: flex; justify-content: space-between
}

nav ul { 
    display: flex; justify-content: space-around; align-items: center;
} 

nav li {
    list-style: none
} 

nav li a{
    color: white; text-decoration: none; font:
    bold; padding: 5px 8px
} 
nav li a:hover { 
    color: yellow; text-decoration: none
}